:root {
  --primary-color: #356aff;
  --bg-color: #f5f5f5;
  --light-bg-color: #fff;
  --text-color: #111116;
  --light-text-color: #cdccd1;
  --primary-text-color: #fff;
}
::-webkit-scrollbar {
  width: 5px;
}
::-webkit-scrollbar-track {
  border-radius: 30px;
  background: #f1f1f1;
}
::-webkit-scrollbar-thumb {
  border-radius: 30px;
  background: var(--primary-color);
}
::-webkit-scrollbar-thumb:hover {
  background: var(--bg-color);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--text-color);
  background-color: var(--bg-color);
}
body.dark {
  --bg-color: #111116;
  --light-bg-color: #1c1b20;
  --text-color: #fff;
  --light-text-color: #58575c;
}
.container {
  position: relative;
  width: 1200px;
  padding: 0 20px;
  display: flex;
  gap: 10px;
}
.container .card {
  flex: 1;
  padding: 30px;
  border-radius: 20px;
  background-color: var(--light-bg-color);
}
.container .card .from,
.container .card .to {
  display: flex;
  align-items: center;
  gap: 20px;
}
.container .card .from {
  margin-right: 20px;
}
.container .card .to {
  margin-left: 20px;
}
.container .card .heading {
  font-size: 0.8rem;
  font-weight: 600;
  color: var(--light-text-color);
  white-space: nowrap;
}
.dropdown-container {
  position: relative;
  margin-bottom: 10px;
  width: 100%;
}
.dropdown-container .dropdown-toggle {
  display: flex;
  align-items: center;
  padding: 15px 20px;
  border-radius: 30px;
  background-color: var(--bg-color);
  cursor: pointer;
  transition: all 0.3s;
}
.dropdown-container .dropdown-toggle span {
  flex: 1;
  margin-left: 10px;
}
.dropdown-container .dropdown-toggle ion-icon {
  font-size: 20px;
  transition: transform 0.3s ease;
}
.dropdown-container.active .dropdown-toggle {
  border-radius: 20px 20px 0 0;
}
.dropdown-container.active .dropdown-toggle ion-icon:last-child {
  transform: rotate(180deg);
}
.dropdown-container .dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 300px;
  overflow: auto;
  display: none;
  padding: 20px;
  z-index: 1;
  list-style: none;
  flex-direction: column;
  background-color: var(--bg-color);
  transition: all 1s;
  border-radius: 0 0 20px 20px;
}
.dropdown-container .dropdown-menu::-webkit-scrollbar {
  display: none;
}
.dropdown-container.active .dropdown-menu {
  display: flex;
}

.dropdown-container .dropdown-menu li {
  padding: 10px 20px;
  border-radius: 20px;
  cursor: pointer;
  margin-bottom: 5px;
  border-bottom: 1px solid var(--light-bg-color);
  transition: all 0.3s ease;
}
.dropdown-container .dropdown-menu li:hover {
  background-color: var(--light-bg-color);
}
.dropdown-container .dropdown-menu li.active {
  color: var(--primary-text-color);
  background-color: var(--primary-color);
}
.container .text-area {
  position: relative;
}
.container textarea {
  width: 100%;
  padding: 20px;
  margin: 10px 0;
  background-color: transparent;
  resize: none;
  outline: none;
  border: none;
  color: var(--text-color);
  font-size: 18px;
  font-family: "Poppins", sans-serif;
}
.container .text-area .chars {
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 10px;
  font-size: 0.8rem;
  color: var(--light-text-color);
}
.container .center {
  position: relative;
}
.swap-position {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 30px;
  left: 50%;
  transform: translateX(-50%);
  width: 1px;
  height: 1px;
  border-radius: 50%;
  cursor: pointer;
  border: 5px solid var(--bg-color);
  transition: all 0.3s ease;
  color: var(--primary-text-color);
  background-color: var(--primary-color);
}
.swap-position ion-icon {
  font-size: 25px;
}
.swap-position:hover {
  transform: translateX(-50%) scale(1.1);
}
.card-bottom {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  padding-top: 20px;
  border-top: 2px solid var(--bg-color);
}
.card-bottom p {
  margin-bottom: 20px;
}
.card-bottom label {
  height: 50px;
  display: flex;
  align-items: center;
  gap: 20px;
  padding: 0 20px;
  cursor: pointer;
  border-radius: 30px;
  background-color: var(--bg-color);
}
.card-bottom label:hover {
  color: var(--primary-text-color);
  background-color: var(--primary-color);
}
.card-bottom span {
  font-size: 12px;
  pointer-events: none;
}
.card-bottom ion-icon {
  font-size: 20px;
}

.card-bottom button {
  height: 50px;
  display: flex;
  align-items: center;
  gap: 20px;
  padding: 0 20px;
  border-radius: 30px;
  border: none;
  outline: none;
  color: var(--text-color);
  cursor: pointer;
  background-color: var(--bg-color);
}
.card-bottom button:hover {
  color: var(--primary-text-color);
  background-color: var(--primary-color);
}

.mode {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 1;
}
.toggle {
  position: relative;
  cursor: pointer;
}
.toggle-track {
  width: 24px;
  height: 50px;
  border-radius: 30px;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 3px 0;
  justify-content: space-between;
  border: 1px solid var(--light-text-color);
  background-color: var(--light-bg-color);
  transition: all 0.2s ease;
}
.toggle-checkbox {
  display: none;
}
.toggle-thumb {
  position: absolute;
  top: 2px;
  left: 2px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: var(--primary-color);
  transition: all 0.5s;
}
.toggle input:checked ~ .toggle-thumb {
  transform: translateY(25px);
}
.toggle img {
  width: 20px;
  height: 20px;
}

/* media quiries */
@media (max-width: 800px) {
  .container {
    width: 100%;
    margin-top: 20px;
    flex-direction: column;
  }
  .container .card {
    width: 100%;
  }
  .container .card .from {
    margin-right: 0;
  }
  .container .card .to {
    margin-left: 0;
  }
  .container .card .from,
  .container .card .to {
    flex-direction: column;
  }

  .swap-position {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .swap-position:hover {
    transform: translate(-50%, -50%) scale(1.1);
  }
  .swap-position ion-icon {
    transform: rotate(90deg);
  }
}

.containerDiv {
  width: 400px;
  padding: 20px;
  border-radius: 10px;
  background-color: var(--bg-color);
}
.containerDiv .heading {
  font-size: 25px;
  font-weight: 500;
  margin-bottom: 10px;
}
.containerDiv .options select {
  width: 100%;
  padding: 10px;
  border: 1px solid var(--light-text-color);
  border-radius: 5px;
  outline: none;
}
.containerDiv .options div:not(:last-child) select {
  margin-bottom: 20px;
}

.containerDiv .options p {
  font-size: 14px;
  font-weight: 600;
  margin-bottom: 5px;
  color: var(--light-text-color);
}
.containerDiv .line {
  position: relative;
  width: 100%;
  height: 1px;
  background-color: var(--light-text-color);
  opacity: 0.5;
  margin: 30px 0;
}
.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  margin-bottom: 20px;
  height: 60px;
  padding: 20px;
  width: 100%;
  outline: none;
  border: none;
  border-radius: 5px;
  font-size: 20px;
  font-weight: 500;
  cursor: pointer;
  color: #fff;
  background-color: var(--primary-color);
}
.btn ion-icon {
  font-size: 30px;
}
.btn:disabled {
  background-color: var(--light-text-color);
  cursor: not-allowed;
}
.containerDiv .record img {
  width: 30px;
  height: 30px;
  display: none;
}
.containerDiv .record.recording img {
  display: block;
}
.containerDiv .record.recording ion-icon {
  display: none;
}
.containerDiv .result {
  width: 100%;
  min-height: 200px;
  padding: 10px;
  border: 1px solid var(--light-text-color);
  border-radius: 5px;
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 20px;
  color: var(--text-color);
}
.containerDiv .result p {
  display: inline;
  margin-left: 3px;
  color: var(--light-text-color);
}
.buttons {
  display: flex;
  gap: 20px;
}

.signup-container {
  width: 50%;
  margin: 50px auto;
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.signup-form {
  max-width: 400px;
  margin: 0 auto;
}

.signup-container h2 {
  text-align: center;
  margin-bottom: 20px;
}

.signup-container .form-group {
  margin-bottom: 20px;
}

.signup-container label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
}

.signup-container input[type="text"],
.signup-container input[type="email"],
.signup-container input[type="password"] {
  width: 100%;
  padding: 10px;
  border-radius: 4px;
  border: 1px solid #ccc;
}

.signup-container button {
  width: 100%;
  padding: 10px 20px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}

.signup-container button:hover {
  background-color: #45a049;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  padding: 0;
}

.login-container {
  width: 100%;
  max-width: 400px;
  margin: 80px auto;
  background-color: #fff;
  padding: 30px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;
}

h2 {
  margin-bottom: 30px;
}

.form-group {
  margin-bottom: 20px;
}

label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
}

input[type="email"],
input[type="password"] {
  width: calc(100% - 10px);
  padding: 10px;
  border-radius: 4px;
  border: 1px solid #ccc;
}

button {
  width: 100%;
  padding: 12px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #45a049;
}

.extra-info {
  font-size: 14px;
}

.extra-info a {
  color: #4CAF50;
  text-decoration: none;
}

.extra-info a:hover {
  text-decoration: underline;
}

header {
  position: fixed;
  top: 20px;
  right: 20px;
  z-index: 2;
  color: var(--text-color);
}

.translation-table-container {
  width: 50%;
  padding: 20px;
  background-color: var(--light-bg-color);
  clear: both; /* Clear previous floats */
  margin-top: 20px; /* Adjust top margin as needed */
}

.translation-history {
  margin-top: 20px;
}

.translation-history h2 {
  margin-bottom: 10px;
  font-size: 24px;
  font-weight: bold;
}

/* Styles for the translation table */
#translationTable {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

#translationTable th,
#translationTable td {
  border: 1px solid var(--light-text-color);
  padding: 8px;
  text-align: left;
}

#translationTable th {
  background-color: var(--light-bg-color);
  font-weight: bold;
}

.header-buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-buttons .history-btn,
.header-buttons .logout-btn {
  margin: 5px; /* Adjust margins as needed */
}

